Jinja2
PyYAML
boardgamegeek2
beautifulsoup4
fire
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
iterfzf
loguru
lxml
notion
numpy
pandas
pydantic
requests
requests-cache==0.5.2
retry
tqdm
